@import 'reset';
@import 'constants';

body {
    background-color: $background-color;
    font: $font-stack;
}

.task-row {
    height: $task-row-height;
    background-color: white;
    width: 100%;

    @include phone {
        height: $task-row-height * 4;
    }

    .task-name {
        font-size: $task-row-height - 15px;
        padding-left: 10px;
        position:absolute;
        width: 80%;
        text-overflow: ellipses;

        @include phone {
            padding-top: $task-row-height - 15px;
            font-size: $task-row-height * 2 - 30px;
        }
    }

    .task-bars {
        display: inline-block;
        background-color:red;
        width: 80%;
        height: 100%;
    }

    .task-buttons {
        display: inline-block;
        width: 20%;
        float: right;
        height: 100%;

        div {
            background-color: green;
            font-size: $task-row-height / 2;
            height: 50%;
            width: 100%;
            text-align:center;

            @include phone {
                font-size: $task-row-height;
            }
        }
    }
}
